.dashboard__container {
    width: 390px;
    margin: 10% auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-style: italic;
    animation: slideLeft 1s both;
  }

  .dashboard__info {
    display: flex;
    flex-direction: column;
  }
  
 .dashboard__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    color: #ff3c20;
    text-decoration: underline;
  }
  
  .dashboard-info {
    font-size: 18px;
    text-align: left;
    color: #666;
  }
  
  .dasboard__item {
    margin: 10px 10px;
    font-size: 18px;
  }

  .dasboard__item span {
    font-style: normal;
    color: #ff3c20;
    font-size: 20px;
  }

.btn__handleEdit {
  background-color: #ff3c20;
  font-size: 18px;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px auto 5px auto;
}  

.btn__handleEdit:hover {
  background-color: lightgreen;
  transition: 0.5s;
  font-size: 20px;
  border: 3px solid bisque;
}

.edit__label {
 color: #ff3c20;
 font-size: 18px;
}

.edit__input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: 3px solid bisque;
  border-radius: 20px;
  width: 100%;
  outline: none;
}

.editForm_p {
  color: red;
  text-decoration: underline;
  padding: 15px 5px;
  letter-spacing: 1px;
}

@keyframes slideLeft {
  0%{
    transform: translateX(-150%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
} 
  