.footer {
  background-color: #333;
  color: #ff3c20;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; 
}

.div__footer p {
  font-size: 16px;
}


